#header
  %ul.unstyled
    %li
      %a{ :href => "#{about_url}"}
        %span About
    %li.divider-vertical
    %li
      %a{href: "#{root_url}"}
        %span Home
    %li.divider-vertical
    %li
      %a{href: "#{work_url}"}
        %span Work
    %li.divider-vertical
  %h1 adam mark
